:root{
    --clr-100: #fff;
    --clr-200: #FFFDF9;
    --clr-300: #D5D1E6;
    --clr-400: #E1E4DF;
    --clr-500: #0A2B1A;
    --clr-600: #091D12;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

/* ul{
    list-style-type: none;
} */

a{
    text-decoration: none;
    color: inherit;
}

body{
    color: var(--clr-100);
    background-color: #091D12;

    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    line-height: 1.85;
    letter-spacing: .04em;
    font-weight: 300;

    /* background: 
    linear-gradient(45deg,
    rgba(9, 48, 37, 0.95),
    rgba(21, 66, 50, 0.75)),
    url(images/jungle.png) no-repeat;
    background-position: center;
  
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 100vh; */
}

textarea {
    resize: none;
  }

.heading{
    font-family: "Rozha One", serif;
    font-size: 3.5rem;
    letter-spacing: .045em;
    line-height: .7;
    padding: 0;
    margin:0;
}
.attention{
    font-weight: 500;
}

.flexbox{
    display:flex;
}

/* container styles */

.section-container{
    padding: 3.5em 0;
}

.light-container{
    background-color: var(--clr-200);
    color:var(--clr-500);
}

.dark-container{
    background: linear-gradient(90deg, #0A2B1A, #30605E);
  
    background-repeat: no-repeat;
    background-size: cover;
}

.sub-container{
    width: 80%;
    margin: 0 auto;
}

/* header styles */

.header-container{
    background: 
    linear-gradient(45deg,
    rgba(9, 48, 37, 0.95),
    rgba(21, 66, 50, 0.75)),
    url(images/jungle.png) no-repeat;
    background-position: center;
  
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 100vh;
}


.nav-container{
    padding: .7em;
    margin-bottom: 1.2em;
    background-color: transparent;
    justify-content:flex-end;
}


.icon{
    width: 3rem;
    height: 3rem;
}

.menu_open_icon{
    width: 2.5rem;
    /* change so color can be updated */
}


.nav_ul{
    align-items: center;
    gap: 1.4rem;
    padding: 0;
    list-style: none;
}

.nav_menu_close_btn{
    display: block;
    margin-inline-start: auto;
}

.menu_close_icon{
    width: 2.5rem;
}

button{
    background: none;
    border: none;
    padding: 0;
    /* maybe can comment out? */
}

/* intro-content */
.introduction-container{
    display: grid;
    justify-items: center; 
    grid-template-columns: 1fr;
    grid-template-areas: 
        "greeting"
        "photo"
        "icons"
        "text";
    gap: 15px;
    padding-bottom: 2rem;
}

.introduction_greeting{
    grid-area: greeting;
    text-align: center;
}


.introduction_img{
    grid-area: photo;
    width: 50%;
    margin-bottom: 10px;
}

.introduction_icon-img{
    width: 2em;
}

.introduction_icon-container{
    grid-area: icons;
    display: flex;
    justify-content: space-evenly;
    width: 55%;
    gap: 2px;
}

.introduction-text{
    grid-area: text;
    width: 70%;
    margin: 0;
}

.icon-text{
    display: none;
}

/************** main content ***************/

.about-me-container{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-template-areas: 
    "about-header"
    "about-text"
    "skills"
    "passions";
    gap: 2rem;
    font-size: 1.5rem;
}

.about-me-heading{
    grid-area: about-header;
    justify-self: flex-start;
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
}

.about-me-heading::after{
    content: "";
    width: 95%;
    max-width: 500px;
    height: .05em;
    background-color: var(--clr-400);
    position: absolute;
    bottom: -15px;
    left: 0;
}

.about-text{
    grid-area: about-text;
    margin: 0;
}

.skills-container,
.passions-container{
    width: 100%;
    padding: 1em;
    border-radius: 1.3em;
}

.skills-container{
    grid-area: skills;
    background-color: var(--clr-400);
}

.skills-list-container{
    display: flex;
    flex-direction: column;
}

.skills-list{
    margin: 0;
}


.passions-container{
    grid-area: passions;
    background-color: var(--clr-300);
}


.skills-heading,
.passions-heading{
    font-weight: 400;
    margin: 0;
    font-size: 2.5rem;
}

/* project */

.project-heading{
    position: relative;
    max-width: 500px;
    margin-bottom: 1rem;
}  


.project-heading::after{
    content: "";
    width: 95%;
    max-width: 500px;
    height: .05em;
    background-color: var(--clr-400);
    position: absolute;
    bottom: -15px;
    left: 0;
}

.projects-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 0;
}


/* project card */

.project-card{
    margin: 0 auto 0 auto;
    max-width: 400px;
    background-color: rgba(255, 253, 249, 0.15);
    border-radius: 1em;
}

.project-card_container{
    margin: 0 auto;
    padding: 2.5em 0;
    width: 80%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "cimage"
    "ctitle"
    "cdescription"
    "ctech"
    "links"
    ;
    gap: 20px;
}

.projects_btn-container{
    display: flex;
    flex-direction: column;
    grid-area: links;
    width: 100%;
    gap: 20px;
}

.card_img,
.card_title,
.card_description, 
.card_technologies{
    margin: 0;
}

.card_img{
    border-radius: 1.3em;
    grid-area: cimage;
    width: 95%;
}

.card_title{
    grid-area: ctitle;
}

.card_description,
.card_technologies{
    font-size: 1.1rem;
    justify-self: flex-start;
}

.card_description{
    grid-area: cdescription;
}

.card_technologies{
    grid-area: ctech;
}

.code_btn{
    background-color:var(--clr-300);

    display: flex;
    align-items: center;
    position: relative;

}

.live_btn{
    border: 1px solid white;
    background-color: var(--clr-200);
}

.card_btn{
    color: var(--clr-500);

    font-weight: 600;
    padding: .4em;
    width: 100%;
    text-align: center;
    border-radius: 40px;
}


.button-icon{
    position: absolute;
    width: 1.5em;
    left: .65em;
}

.code-btn_text{
    text-align: center;
    flex-grow: 1;
}

/* contact */

.contact-heading{
    position: relative;
    max-width: 500px;
    margin-bottom: 4rem;
}  


.contact-heading::after{
    content: "";
    width: 95%;
    max-width: 500px;
    height: .05em;
    background-color: var(--clr-400);
    position: absolute;
    bottom: -15px;
    left: 0;
}

.contact_icon-container{
    display: flex;
    gap: 15px;
    margin: 15px;
}

.contact-icon{
    width: 3em;
}

.form-label{
    display: block;
}

.form-container{
    background-color: var(--clr-400);
    border-radius: 1em;
    padding: 1em 0;
}

.contact_form{
    margin: 0 auto;
    width: 80%;
}

.form-label, 
.form-input{
    margin: 0;
    padding: 0;
}


.form-input{
    width: 100%;
    border: none;
    min-height: 3em;
    border-radius: 3px;
    margin-bottom: 1.5em;
}

.form-label{
    font-weight: 500;
}


.form-button{
    width: 100%;
    border: none;
    padding: .4em;
    font-weight: 600;
    background: var(--clr-500);
    color: var(--clr-100);
    letter-spacing: .05em;
    border-radius: 40px;
    font-size: 1.3rem;
}

footer{
 background: 
    linear-gradient(45deg,
    rgba(9, 48, 37, 0.95),
    rgba(21, 66, 50, 0.75)),
    url(images/jungle.png) no-repeat;
    background-position: center;
  
   background-repeat: no-repeat;
   background-size: cover;
    padding: 1.2em;   
}

.footer_text{
    display: flex;
    max-width: fit-content;
    margin: 0 auto;
    gap: 1em;
}

@media(width <= 700px){
    .nav_menu_container{
        position: fixed;
        inset: 0;
        padding: 1.5rem;
        translate: 100vw 0;
        transition: translate 0.5s ease-in-out;
        background-color: aqua;
    }

    .nav_menu_open_btn[aria-expanded="true"] + .nav_menu_container{
        translate: 0;
    }

    .nav_ul{
        flex-direction: column;
    }
}

@media (width > 700px){
    .nav_menu_open_btn, 
    .nav_menu_close_btn{
        display:none;
    }
}

@media (min-width: 800px){
    body{
        font-size: 1.5rem;
    }

    .section-container{
        min-height: 100vh;
    }

    .sub-container{
        max-width:1100px;
    }

    /* introduction */
    .introduction-container{
        margin: 0 auto;
        width: 80%;
        max-width: 1100px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "greeting photo"
        "text photo"
        "icon-text icons";
        padding: 2em 0;
        justify-items: flex-start;
        align-items:center;
    }

    .icon-text{
        font-weight: 100;
        font-size: 1.7rem;
        display: block;
        grid-area: icon-text;
        justify-self: end;
        /* align-self: flex-end; */
        margin-top: 4rem;
    }

    .introduction_icon-container{
        align-self: flex-end;
    }

    .introduction_img{
        width: 90%;
        justify-self: flex-end;
    }

    .introduction_greeting{
        text-align: left;
        align-self: flex-end;
        font-size: 3.8rem;
        margin-bottom: 1rem;
    }

    .introduction-text{
        width: 100%;
        align-self: flex-start;
        font-size: 1.8rem;
    }

    /* about me */

    .about-me-container{
        max-width: 1100px;
        grid-template-columns: auto auto;
        grid-template-areas: 
        "about-header about-header"
        "about-text about-text"
        "skills passions";
    }

    .about-text{
        max-width: 700px;
        justify-self:flex-start;
    }

    .skills-list-container{
        flex-direction: row;
    }

    /* projects */
    .project-card{
        width: 100%;
        max-width: 100%;
    }
    .project-card_container{
        text-align: left;
        grid-template-columns: auto 1fr;
        grid-template-areas: 
        "cimage ctitle"
        "cimage cdescription"
        "cimage ctech"
        "cimage links";
        gap: 20px 50px; 
    }

    .card_img{
        width: 100%;
        height: 300px;
    }
    
    .card_title{
        justify-self: flex-start;
    }


    /* .projects_btn-container{
        flex-direction: row;
    } */

}